@model hastane_.Models.RandevuAlViewModel

<h2>Randevu Al</h2>
<br />

@if (ViewData["result"] != null)
{
    <div class="alert alert-success">@ViewData["result"]</div>
}

<br />
<br />
<br />


<form asp-controller="Account" asp-action="RandevuAl" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
    <div class="form-group">
        <label asp-for="RandevuGunu"></label>
        <input asp-for="RandevuGunu" type="date" class="form-control" />
        <span asp-validation-for="RandevuGunu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RandevuSaati"></label>
        <input asp-for="RandevuSaati" type="time" class="form-control" />
        <span asp-validation-for="RandevuSaati" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DoctorId"></label>
        <select asp-for="DoctorId" asp-items="ViewBag.DoctorList" class="form-control"></select>
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>


    <br />
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Randevu Al</button>
</form>
